nav {
  display: flex;

  background: #b8f1da;
  width: 100%;
  min-height: 100px;
  justify-content: center;
  border-radius: 67px 67px 0px 0px;
}

h2 {
  color: #112d4e;
}
.nav-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #b4c8e0;
}

.nav-links {
  display: flex;

  width: 90%;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-button {
  background: #dbe2ef;
  outline: none !important;
  outline-offset: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 49px;
  border: 0;
  border-radius: 47px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  -webkit-user-select: none;
}

.nav-button:hover {
  background: #3f72af;
}
.nav-button:active {
  background: #3f72af;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.nav-button-active {
  background: #dbe2ef;
  outline: none !important;
  outline-offset: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 49px;
  border: 1px solid #3f72af;
  border-radius: 47px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}
.nav-button-active:hover {
  background: #3f72af;
}
