.app {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  background: #dbe2ef;
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 67px;
  box-shadow: 0px 3px 6px #000000d9;
  margin-top: 15px;
  max-width: 90%;
  height: 95vh;
  align-items: center;
  justify-content: center;
}
